#nprogress .bar {
    background: #2E9896 !important;
    /* Color primario o el que prefieras */
    height: 3px !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #2E9896, 0 0 5px #2E9896 !important;
}